<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div id="container">
    <div id="main">
        <div id="top">
            <h1>Login</h1>
        </div>
        <form action="/api/login" method="POST">
            <input type="text" placeholder="username" name="username" autocomplete="off">
            <input type="text" placeholder="password" name="password" autocomplete="off">
            <button type="submit">Submit</button>
        </form>
    </div>
   </div>
</body>
</html>